### 2021.10.20

### import

In [3]:
import numpy as np
import pandas as pd

### 첫번째 행을 선택하는 법

In [48]:
np.random.seed(1)
dic = {'X1':np.random.normal(0,1,5),
      'X2':np.random.normal(0,1,5),
      'X3':np.random.normal(0,1,5),
      'X4':np.random.normal(0,1,5),
      'X5':np.random.normal(0,1,5),
      'X6':np.random.normal(0,1,5)}
df1=pd.DataFrame(dic)
df1

         X1        X2        X3        X4        X5        X6
0  1.624345 -2.301539  1.462108 -1.099891 -1.100619 -0.683728
1 -0.611756  1.744812 -2.060141 -0.172428  1.144724 -0.122890
2 -0.528172 -0.761207 -0.322417 -0.877858  0.901591 -0.935769
3 -1.072969  0.319039 -0.384054  0.042214  0.502494 -0.267888
4  0.865408 -0.249370  1.133769  0.582815  0.900856  0.530355

`-` 방법1

In [49]:
df1.iloc[0] #이상하다

X1    1.624345
X2   -2.301539
X3    1.462108
X4   -1.099891
X5   -1.100619
X6   -0.683728
Name: 0, dtype: float64

`-` 방법2

In [50]:
df1.iloc[[0]]

         X1        X2        X3        X4        X5        X6
0  1.624345 -2.301539  1.462108 -1.099891 -1.100619 -0.683728

`-`방법3

In [51]:
df1.iloc[0,:]

X1    1.624345
X2   -2.301539
X3    1.462108
X4   -1.099891
X5   -1.100619
X6   -0.683728
Name: 0, dtype: float64

`-` 방법4

In [52]:
df1.iloc[[0],:]

         X1        X2        X3        X4        X5        X6
0  1.624345 -2.301539  1.462108 -1.099891 -1.100619 -0.683728

`-` 방법5

In [53]:
df1.loc[0] #이상하다

X1    1.624345
X2   -2.301539
X3    1.462108
X4   -1.099891
X5   -1.100619
X6   -0.683728
Name: 0, dtype: float64

`-` 방법6

In [54]:
df1.loc[[0]]

         X1        X2        X3        X4        X5        X6
0  1.624345 -2.301539  1.462108 -1.099891 -1.100619 -0.683728

`-`방법7

In [55]:
df1.loc[0,:]

X1    1.624345
X2   -2.301539
X3    1.462108
X4   -1.099891
X5   -1.100619
X6   -0.683728
Name: 0, dtype: float64

`-` 방법8

In [56]:
df1.loc[[0],:]

         X1        X2        X3        X4        X5        X6
0  1.624345 -2.301539  1.462108 -1.099891 -1.100619 -0.683728

index가 integer인 경우 iloc과 loc의 출력 결과가 같다.

`-` 방법9

In [57]:
df1.iloc[[True,False,False,False,False]]

         X1        X2        X3        X4        X5        X6
0  1.624345 -2.301539  1.462108 -1.099891 -1.100619 -0.683728

`-` 방법10

In [58]:
df1.iloc[[True,False,False,False,False],:]

         X1        X2        X3        X4        X5        X6
0  1.624345 -2.301539  1.462108 -1.099891 -1.100619 -0.683728

`-` 방법11

In [59]:
df1.loc[[True,False,False,False,False]]

         X1        X2        X3        X4        X5        X6
0  1.624345 -2.301539  1.462108 -1.099891 -1.100619 -0.683728

`-` 방법12

In [60]:
df1.loc[[True,False,False,False,False],:]

         X1        X2        X3        X4        X5        X6
0  1.624345 -2.301539  1.462108 -1.099891 -1.100619 -0.683728

### 1,3행을 선택하는 방법

In [61]:
df1

         X1        X2        X3        X4        X5        X6
0  1.624345 -2.301539  1.462108 -1.099891 -1.100619 -0.683728
1 -0.611756  1.744812 -2.060141 -0.172428  1.144724 -0.122890
2 -0.528172 -0.761207 -0.322417 -0.877858  0.901591 -0.935769
3 -1.072969  0.319039 -0.384054  0.042214  0.502494 -0.267888
4  0.865408 -0.249370  1.133769  0.582815  0.900856  0.530355

`-` 방법1

In [62]:
df1.loc[[0,2],:]

         X1        X2        X3        X4        X5        X6
0  1.624345 -2.301539  1.462108 -1.099891 -1.100619 -0.683728
2 -0.528172 -0.761207 -0.322417 -0.877858  0.901591 -0.935769

`-` 방법2

In [63]:
df1.iloc[[0,2],:]

         X1        X2        X3        X4        X5        X6
0  1.624345 -2.301539  1.462108 -1.099891 -1.100619 -0.683728
2 -0.528172 -0.761207 -0.322417 -0.877858  0.901591 -0.935769

`-` 그외에 여러행을 뽑는 방법이 있음 ; 슬라이싱, 불인덱싱 등(자세한건 생략)

#### loc vs iloc ??

`-`인덱스가 정수가 아닌 경우

In [68]:
list('abc')

['a', 'b', 'c']

In [70]:
_df=pd.DataFrame({'A':[1,2,3,4],'B':[4,5,6,7]},index=list('abcd'))
_df

   A  B
a  1  4
b  2  5
c  3  6
d  4  7

In [78]:
_df.loc['a':'c',:]

   A  B
a  1  4
b  2  5
c  3  6

In [73]:
_df.iloc[0:3,:]

   A  B
a  1  4
b  2  5
c  3  6

In [77]:
_df.loc[['a','b','c'],:]

   A  B
a  1  4
b  2  5
c  3  6

In [76]:
_df.iloc[[0,1,2],:]

   A  B
a  1  4
b  2  5
c  3  6

`-` 대부분의 경우 observation에 특정한 이름이 있는 경우는 없으므로 loc이 그다지 쓸모 없음

`-` 그렇지만 특정 경우에는 쓸모가 있음

In [88]:
np.random.normal(size=(20,4))

array([[-0.22232814, -0.20075807,  0.18656139,  0.41005165],
       [ 0.19829972,  0.11900865, -0.67066229,  0.37756379],
       [ 0.12182127,  1.12948391,  1.19891788,  0.18515642],
       [-0.37528495, -0.63873041,  0.42349435,  0.07734007],
       [-0.34385368,  0.04359686, -0.62000084,  0.69803203],
       [-0.44712856,  1.2245077 ,  0.40349164,  0.59357852],
       [-1.09491185,  0.16938243,  0.74055645, -0.9537006 ],
       [-0.26621851,  0.03261455, -1.37311732,  0.31515939],
       [ 0.84616065, -0.85951594,  0.35054598, -1.31228341],
       [-0.03869551, -1.61577235,  1.12141771,  0.40890054],
       [-0.02461696, -0.77516162,  1.27375593,  1.96710175],
       [-1.85798186,  1.23616403,  1.62765075,  0.3380117 ],
       [-1.19926803,  0.86334532, -0.1809203 , -0.60392063],
       [-1.23005814,  0.5505375 ,  0.79280687, -0.62353073],
       [ 0.52057634, -1.14434139,  0.80186103,  0.0465673 ],
       [-0.18656977, -0.10174587,  0.86888616,  0.75041164],
       [ 0.52946532,  0.13770121,  0.07782113,  0.61838026],
       [ 0.23249456,  0.68255141, -0.31011677, -2.43483776],
       [ 1.0388246 ,  2.18697965,  0.44136444, -0.10015523],
       [-0.13644474, -0.11905419,  0.01740941, -1.12201873]])

In [89]:
pd.date_range('20201225',periods=20)

DatetimeIndex(['2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28',
               '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-01',
               '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05',
               '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09',
               '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13'],
              dtype='datetime64[ns]', freq='D')

In [90]:
len(pd.date_range('20201225',periods=20))

20

In [87]:
np.random.seed(1)
_df=pd.DataFrame(np.random.normal(size=(20,4)), columns=list('ABCD'),index=pd.date_range('20201225',periods=20))
_df

                   A         B         C         D
2020-12-25  1.624345 -0.611756 -0.528172 -1.072969
2020-12-26  0.865408 -2.301539  1.744812 -0.761207
2020-12-27  0.319039 -0.249370  1.462108 -2.060141
2020-12-28 -0.322417 -0.384054  1.133769 -1.099891
2020-12-29 -0.172428 -0.877858  0.042214  0.582815
2020-12-30 -1.100619  1.144724  0.901591  0.502494
2020-12-31  0.900856 -0.683728 -0.122890 -0.935769
2021-01-01 -0.267888  0.530355 -0.691661 -0.396754
2021-01-02 -0.687173 -0.845206 -0.671246 -0.012665
2021-01-03 -1.117310  0.234416  1.659802  0.742044
2021-01-04 -0.191836 -0.887629 -0.747158  1.692455
2021-01-05  0.050808 -0.636996  0.190915  2.100255
2021-01-06  0.120159  0.617203  0.300170 -0.352250
2021-01-07 -1.142518 -0.349343 -0.208894  0.586623
2021-01-08  0.838983  0.931102  0.285587  0.885141
2021-01-09 -0.754398  1.252868  0.512930 -0.298093
2021-01-10  0.488518 -0.075572  1.131629  1.519817
2021-01-11  2.185575 -1.396496 -1.444114 -0.504466
2021-01-12  0.160037  0.876169  0.315635 -2.022201
2021-01-13 -0.306204  0.827975  0.230095  0.762011

`-` 1월 5일부터 1월 8일까지의 자료만 보고싶다.

In [92]:
_df.loc['20210105':'20210108']

                   A         B         C         D
2021-01-05  0.050808 -0.636996  0.190915  2.100255
2021-01-06  0.120159  0.617203  0.300170 -0.352250
2021-01-07 -1.142518 -0.349343 -0.208894  0.586623
2021-01-08  0.838983  0.931102  0.285587  0.885141

`-` iloc으로 하려면 힘들다

In [93]:
_df.index

DatetimeIndex(['2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28',
               '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-01',
               '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05',
               '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09',
               '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13'],
              dtype='datetime64[ns]', freq='D')

In [94]:
pd.Series(_df.index)

0    2020-12-25
1    2020-12-26
2    2020-12-27
3    2020-12-28
4    2020-12-29
5    2020-12-30
6    2020-12-31
7    2021-01-01
8    2021-01-02
9    2021-01-03
10   2021-01-04
11   2021-01-05
12   2021-01-06
13   2021-01-07
14   2021-01-08
15   2021-01-09
16   2021-01-10
17   2021-01-11
18   2021-01-12
19   2021-01-13
dtype: datetime64[ns]

In [96]:
_df.iloc[11:15]

                   A         B         C         D
2021-01-05  0.050808 -0.636996  0.190915  2.100255
2021-01-06  0.120159  0.617203  0.300170 -0.352250
2021-01-07 -1.142518 -0.349343 -0.208894  0.586623
2021-01-08  0.838983  0.931102  0.285587  0.885141

#### 자주하는 실수

`-` 교수님은 아래와 같은 실수를 자주합니다.

In [100]:
#_df.loc['A'], 에러

`-`올바른 방법

In [102]:
_df['A']

2020-12-25    1.624345
2020-12-26    0.865408
2020-12-27    0.319039
2020-12-28   -0.322417
2020-12-29   -0.172428
2020-12-30   -1.100619
2020-12-31    0.900856
2021-01-01   -0.267888
2021-01-02   -0.687173
2021-01-03   -1.117310
2021-01-04   -0.191836
2021-01-05    0.050808
2021-01-06    0.120159
2021-01-07   -1.142518
2021-01-08    0.838983
2021-01-09   -0.754398
2021-01-10    0.488518
2021-01-11    2.185575
2021-01-12    0.160037
2021-01-13   -0.306204
Freq: D, Name: A, dtype: float64

`-` 아래의 사실을 기억하자.

- 기본적으로는 iloc,loc은 `[2],[2:]`처럼 1차원으로 원소를 인덱싱 할 수도 있고, `[2,3],[:,2]` 와 같이 2차원으로 인덱싱 할 수도 있다.

- 1차원으로 인덱싱하는 경우는 기본적으로 행을 인덱싱한다 $\to$ iloc, loc은 행과 더 친하고 열과 친하지 않다.

- 따라서 열을 선택하는 방법에 있어서 loc, iloc이 그렇게 좋은 방법은 아니다.

- 그렇지만 열을 선택하는 방법은 iloc이나 loc이 제일 편리하다.(이외에 다른 방법이 마땅하게 없음) 그래서 열을 선택할때도 iloc이나 loc을 선호한다.

### 슬라이싱에 대한 응용

In [109]:
_df.iloc[::2]

                   A         B         C         D
2020-12-25  1.624345 -0.611756 -0.528172 -1.072969
2020-12-27  0.319039 -0.249370  1.462108 -2.060141
2020-12-29 -0.172428 -0.877858  0.042214  0.582815
2020-12-31  0.900856 -0.683728 -0.122890 -0.935769
2021-01-02 -0.687173 -0.845206 -0.671246 -0.012665
2021-01-04 -0.191836 -0.887629 -0.747158  1.692455
2021-01-06  0.120159  0.617203  0.300170 -0.352250
2021-01-08  0.838983  0.931102  0.285587  0.885141
2021-01-10  0.488518 -0.075572  1.131629  1.519817
2021-01-12  0.160037  0.876169  0.315635 -2.022201

In [111]:
_df.iloc[::3]

                   A         B         C         D
2020-12-25  1.624345 -0.611756 -0.528172 -1.072969
2020-12-28 -0.322417 -0.384054  1.133769 -1.099891
2020-12-31  0.900856 -0.683728 -0.122890 -0.935769
2021-01-03 -1.117310  0.234416  1.659802  0.742044
2021-01-06  0.120159  0.617203  0.300170 -0.352250
2021-01-09 -0.754398  1.252868  0.512930 -0.298093
2021-01-12  0.160037  0.876169  0.315635 -2.022201

`-` 이 방법을 칼럼에도 적용 가능

In [110]:
_df.iloc[:,::2]

                   A         C
2020-12-25  1.624345 -0.528172
2020-12-26  0.865408  1.744812
2020-12-27  0.319039  1.462108
2020-12-28 -0.322417  1.133769
2020-12-29 -0.172428  0.042214
2020-12-30 -1.100619  0.901591
2020-12-31  0.900856 -0.122890
2021-01-01 -0.267888 -0.691661
2021-01-02 -0.687173 -0.671246
2021-01-03 -1.117310  1.659802
2021-01-04 -0.191836 -0.747158
2021-01-05  0.050808  0.190915
2021-01-06  0.120159  0.300170
2021-01-07 -1.142518 -0.208894
2021-01-08  0.838983  0.285587
2021-01-09 -0.754398  0.512930
2021-01-10  0.488518  1.131629
2021-01-11  2.185575 -1.444114
2021-01-12  0.160037  0.315635
2021-01-13 -0.306204  0.230095

`-` 컬럼에는 잘 쓰지 않는이유 ?

- row는 특정 간격으로 뽑는 일이 빈번함.(예를들어 일별 데이터를 주별 데이터로 바꾸고 싶을 때, 바꾸고 싶을 경우?)

- col을 특정 간격으로 뽑아야 하는 일은 없음

### lambda + map

In [112]:
np.random.seed(1)
df2=pd.DataFrame(np.random.normal(size=(10,4)),columns=list('ABCD'))
df2

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
3 -0.322417 -0.384054  1.133769 -1.099891
4 -0.172428 -0.877858  0.042214  0.582815
5 -1.100619  1.144724  0.901591  0.502494
6  0.900856 -0.683728 -0.122890 -0.935769
7 -0.267888  0.530355 -0.691661 -0.396754
8 -0.687173 -0.845206 -0.671246 -0.012665
9 -1.117310  0.234416  1.659802  0.742044

#### 컬럼A의 값이 0보다 큰 경우만

`-` 방법1

In [119]:
df2.loc[map(lambda x : x>0,df2['A']),:] #iloc도 가능

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
6  0.900856 -0.683728 -0.122890 -0.935769

In [117]:
list(map(lambda x : x>0,df2['A'])) #list를 통해 자세히 확인

[True, True, True, False, False, False, True, False, False, False]

`-` 방법2

In [127]:
df2.loc[lambda df : df['A']>0] #loc은 행과 친하기 때문에 끝에 ,: 따로 안붙여도됌

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
6  0.900856 -0.683728 -0.122890 -0.935769

- ??

- map의 기능은 (1) 리스트를 원소별로 분해하여 (2) 어떠한 함수를 적용하여 아웃풋을 구한 뒤 (3) 각각의 아웃풋을 다시 하나의 리스트로 묶음

- 우리는 이 중에서 (1),(3)에만 집중했음

- 하지만 생각해보면 일단 (2) 함수를 적용하는 기능이 있었음

- 그런데 위의 코드는 함수를 적용한 겨로가가 아니라 함수 오브젝트 자체를 전달하여도 동작함

**요약!!**

- True, False로 이루어진 벡터를 리스트의 형태로 전달하여 인덱싱했음 (원래 우리가 알고 있는 개념)

- True, False로 이루어진 벡터를 리턴할 수 있는 함수오브젝트 자체를 전달해도 인덱싱이 가능

`-` 방법3

In [128]:
df2.iloc[map(lambda x : x>0,df2['A']),:]

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
6  0.900856 -0.683728 -0.122890 -0.935769

`-` 방법4 : 실패

In [130]:
#df2.iloc[lambda df : df['A']>0]

- 위에서 iloc을 loc으로 바꾸면 되는데..
- iloc입장에서는 조금 서운함..

#### 칼럼 A>0이고 칼럼 C<0인 경우

In [137]:
df2

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
1  0.865408 -2.301539  1.744812 -0.761207
2  0.319039 -0.249370  1.462108 -2.060141
3 -0.322417 -0.384054  1.133769 -1.099891
4 -0.172428 -0.877858  0.042214  0.582815
5 -1.100619  1.144724  0.901591  0.502494
6  0.900856 -0.683728 -0.122890 -0.935769
7 -0.267888  0.530355 -0.691661 -0.396754
8 -0.687173 -0.845206 -0.671246 -0.012665
9 -1.117310  0.234416  1.659802  0.742044

`-` 방법1

In [139]:
df2.loc[map(lambda x,y: x>0 and y<0, df2['A'],df2['C']),]

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
6  0.900856 -0.683728 -0.122890 -0.935769

In [141]:
list(map(lambda x,y: x>0 and y<0, df2['A'],df2['C']))

[True, False, False, False, False, False, True, False, False, False]

`-` 방법2

In [143]:
#df2.loc[map(lambda x,y: x>0 & y<0, df2['A'],df2['C']),] <=에러

- ??? 아래를 관찰

***보충학습***

In [152]:
#0<3.2 & 0<2.2 <= 에러, 연산의 우선순위 때문

In [148]:
(0<3.2) & (0<2.2)

True

***보충학습끝***

위의코드도 괄호로 묶어주면 잘 동작한다.

In [151]:
df2.loc[map(lambda x,y: (x>0) & (y<0), df2['A'],df2['C']),:]

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
6  0.900856 -0.683728 -0.122890 -0.935769

`-` 방법3

In [155]:
df2.loc[lambda df: (df['A']>0) & (df['C']<0),:]

          A         B         C         D
0  1.624345 -0.611756 -0.528172 -1.072969
6  0.900856 -0.683728 -0.122890 -0.935769

**아래는 실행되지 않는다.**

In [164]:
#df2.loc[lambda df: (df['A']>0) and (df['C']<0),:]

**실행되지 않는 이유**

In [159]:
np.array([True, False]) & np.array([True, True])

array([ True, False])

In [162]:
#np.array([True, False]) and np.array([True, True]) => and는 벡터 연산이 안됨, 위와 같은 에러

`-` iloc은 함수 오브젝트 자체를 전달하는건 안되지만, 스칼라 아웃풋을 받아 맵으로 랩핑하는 방법은 가능하다. 자세한건 생략.